<html ng-app="goloc">
<head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body> 
        <header id="menu">
                <h1>Goloc</h1>
        </header>

        <main>
                <div ng-controller="LineaController as LineaObj">
                        <h2>Línea <span class="numerolinea" ng-model="LineaObj.numerolinea"></span></h2>
                        <span class="tiempo" ng-model="LineaObj.tiempo"></span> <span>min</span>
                </div>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="js/data.js"></script>
        <script src="js/scripts.js"></script>
</body>
</html>