<html ng-app="time">
	<head>
		<title>Líneas</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	</head>

	<body>
		<div class="tiempo" ng-controller="tiempoController as tiempo">

			<input type="text" ng-model="tiempo.search" />
			<br />
			Buscar por: 
			<input type="radio" name="termino" ng-model="tiempo.termino" value="paradas" /> Paradas
			<input type="radio" name="termino" ng-model="tiempo.termino" value="linea" /> Linea

			<ul>
				<li ng-repeat="listado in tiempo.tiempos | filter:tiempo.search | filter:tiempo.termino track by listado.numParada">
					<i class="far fa-star"></i> Número de la parada: {{listado.nombre}} <button>Ir <i class="fas fa-arrow-right"></i></button>
				</li>
			</ul>

			{{tiempos.numParadas}}
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="/js/app.js"></script>
		<script src="/services/datos.js"></script>
		<script src="/controllers/tiempos.js"></script>
	</body>
</html>
