<html ng-app="time">
	<head>
		<title>Líneas</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	</head>
	<body>

	<div class="tiempo" ng-controller="tiempoController as tiempo">

		<input type="text" ng-model="tiempo.search" />
		<br />
		Buscar por: 
		<input type="radio" name="termino" ng-model="tiempo.termino" value="paradas" /> Paradas
		<input type="radio" name="termino" ng-model="tiempo.termino" value="linea" /> Linea

		<ul>
			<li ng-repeat="listado in tiempo.tiempos | filter:tiempo.search | filter:tiempo.termino track by listado.numParada">
				<i class="far fa-star"></i> Número de la parada: {{listado.nombre}} <button>Ir <i class="fas fa-arrow-right"></i></button>
			</li>
		</ul>

		{{tiempos.numParadas}}
	</div>
		

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script>
	angular.module('time', []);

	// Controller
	angular.module('time').controller('tiempoController', timeCtrl);

	function timeCtrl(listaTiempos) {
		console.log('controlador tiempo');

		var self = this;

		self.tiempos = listaTiempos;
	}

	// Services
	angular.module('time').service('listaTiempos', listadoTiempos);

	function listadoTiempos() {
		console.log('Serviciooooooo!!!');

		var tiempos = [
			{
				numParada: 789,
				nombre: "Pase de Extremadura, 54",
				tiempo: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 365,
				nombre: "Av. de la Aviación, 3",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 164,
				nombre: "Calle Illescas, 76",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 359,
				nombre: "Calle Villacarriedo, 1",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 996,
				nombre: "Gran Vía, 32",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 461,
				nombre: "Calle Fuencarral, 4",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 123,
				nombre: "Gran Avenida, 65",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 593,
				nombre: "Plaza de Colón",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 476,
				nombre: "Plaza Mayor, s/n",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
			{
				numParada: 249,
				nombre: "Calle Carretas, 4",
				lineas: [
					{
						linea: 65,
						mins: 8
					},
					{
						linea: 39,
						mins: 6
					},
					{
						linea: 31,
						mins: 5
					}
				]
			},
		];

		return tiempos;
	}

	</script>

		
	</body>
</html>
