<html ng-app="time">
	<head>
		<title>Paradas</title>
	</head>
	<body>

	<div class="parada" ng-controller="paradasController as parada">

		<input type="text" ng-model="parada.search" />
		<br />
		Buscar por: 
		<input type="radio" name="termino" ng-model="parada.termino" value="paradas" /> Paradas
		<input type="radio" name="termino" ng-model="parada.termino" value="nombre" /> nombre

		<ul>
			<li ng-repeat="listado in parada.paradas | filter:parada.search | filter:parada.termino track by listado.numParada">
				<button>Número de la parada: {{listado.numParada}}</button>
			</li>
		</ul>

		{{parada.paradas}}
	</div>
		

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script>
	angular.module('time', []);

	// Controller
	angular.module('time').controller('paradasController', timeCtrl);

	function timeCtrl(listaTiempos) {
		console.log('controlador parada');

		var self = this;

		self.paradas = listaTiempos;
	}

	// Services
	angular.module('time').service('listaTiempos', listadoTiempos);

	function listadoTiempos() {
		console.log('Serviciooooooo!!!');

		var paradas = [
			{
				numParada: 789,
				nombre: "Pase de Extremadura, 54",
				lineas: [25, 39, 31]
			},
			{
				numParada: 365,
				nombre: "Av. de la Aviación, 3",
				lineas: [65, 23, 31]
			},
			{
				numParada: 164,
				nombre: "Calle Illescas, 76",
				lineas: [25, 45, 'Circular']
			},
			{
				numParada: 359,
				nombre: "Calle Villacarriedo, 1",
				lineas: [1, 90, 34]
			},
			{
				numParada: 996,
				nombre: "Gran Vía, 32",
				lineas: [65, 34, 87]
			},
			{
				numParada: 461,
				nombre: "Calle Fuencarral, 4",
				lineas: [23, 29, 18]
			},
			{
				numParada: 123,
				nombre: "Gran Avenida, 65",
				lineas: [83, 52, 31]
			},
			{
				numParada: 593,
				nombre: "Plaza de Colón",
				lineas: [47, 37, 67]
			},
			{
				numParada: 476,
				nombre: "Plaza Mayor, s/n",
				lineas: [28, 45, 31]
			},
			{
				numParada: 249,
				nombre: "Calle Carretas, 4",
				lineas: [42, 87, 54]
			},
		];

		return paradas;
	}

	</script>

		
	</body>
</html>