<div id="favoritos" class="container" ng-controller="favCtrl as fav">

    <a class="favBtn" ui-sref="index">
        <span class="fa fa-arrow-left"></span>
    </a>

    <h4>Lista de Favoritos</h4>
    <ul class="busList">
        <li ng-repeat="parada in fav.paradas.lista track by parada.parada" ng-if="parada.isFav">
            <i ng-click="fav.paradas.toggleFav($index)" class="fa fa-star" ng-class="{'active' : parada.isFav}"></i>
            <div ui-sref="parada({id: parada.parada})">
                Parada: <strong>{{parada.parada}} </strong>| Buses: <span ng-repeat="buses in parada.buses">{{buses}}{{$last ? '' : ($index==Users.length-2) ? ' and ' : ', '}}</span>
            </div>
        </li>
    </ul>
    <div ng-if="(search.paradas | filter: search.busqueda).length == 0">
        Lo sentimos, no hay resultados
    </div>

</div>