<!doctype html>
<html ng-app="time">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Autobuses</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body class="contacto">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Autobuses</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Inicio</a>
            <a class="nav-link" href="#">Favoritos</a>
            <a class="nav-link" href="#">Contacto</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover" ng-controller="tiempoController as tiempo">
        <h1 class="cover-heading">Contacta con nosotros</h1>
		<div class="tiempo container-fluid">
			<form>
			  <div class="form-group">
				<label for="exampleInputName1">Nombre</label>
			  	<input class="form-control" type="text" placeholder="Introduce tu nombre" id="exampleInputName1" aria-describedby="nameHelp">
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introduce tu email">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPhone1">Teléfono</label>
				<input type="numbre" class="form-control" id="exampleInputPhone1" aria-describedby="phoneHelp" placeholder="Introduce tu email">
			  </div>
			  <div class="form-group">
				<label for="exampleFormControlTextarea1">Comentario</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			  </div>
			  
			  
			  
			  
			  <button type="submit" class="btn btn-primary">Enviar</button>
			</form>
			
		</div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
  
  
  
  
  
  
  
  
  
  	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	
	<script>
	angular.module('time', []);
	
	
	
	
	</script>
	
	
  </body>
</html>